# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
*.sqlite3

# Security & environment
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Pytest and coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Node modules (if using JS/React frontend)
node_modules/

# Build artifacts
build/
dist/
*.egg-info/
